.loginContainer,
.registerContainer,
.recoveryContainer,
.resetContainer,
.changeEmailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formulario {
  width: auto;
  height: auto;
  box-shadow: 2px 2px 10px #666;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

.loginContent,
.registerContent,
.recoveryContent,
.resetContent,
.changeEmailContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  border: 1px solid black;
  width: 35vw;
  height: 50vh;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  background: rgba(255, 255, 255, 0.7);
}

.loginContent input,
.registerContent input,
.recoveryContent input,
.resetContent input,
.changeEmailContent input {
  height: 3vh;
  min-width: 20vw;
  margin: 10px;
  border-radius: 5px;
}

.loginContent button {
  background: url("../icons/enter1.png") no-repeat;
  background-size: contain;
  width: 50px;
  min-height: 6vh;
  min-width: 3vw;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  transition: all 0.3s;
  margin-bottom: 20px;
}

.registerContent button {
  background: url("../icons/register.png") no-repeat;
  background-size: contain;
  height: 5vh;
  width: 3vw;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.recoveryContent button,
.resetContent button {
  background: url("../icons/key.png") no-repeat;
  background-size: contain;
  height: 5vh;
  width: 3vw;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.changeEmailContent button {
  background: url("../icons/refresh.png") no-repeat;
  background-size: contain;
  height: 5vh;
  width: 3vw;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.loginContent button:hover,
.registerContent button:hover,
.recoveryContent button:hover,
.resetContent button:hover,
.changeEmailContent button:hover {
  transform: scale(1.09);
}

.registerContent form,
.recoveryContent form,
.resetContent form,
.changeEmailContent form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pikachuRunning {
  background: url("../icons/5Q0v.gif") no-repeat;
  background-size: contain;
  height: 20vh;
  width: 13vw;
  border: none;
  margin-top: 10px;
}

.pikachuSent {
  background: url("../icons/6vw5.gif") no-repeat;
  background-size: contain;
  height: 25vh;
  width: 10vw;
  border: none;
  margin-top: 10px;
}

.validateContainer {
  background: whitesmoke;
  font-size: 20px;
}

.registeredMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registeredMessage a {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
}

@media screen and (max-width: 430px) {
  .recoveryContent h1,
  .changeEmailContent h1,
  .loginContent h1,
  .registerContent h1,
  .resetContent h1 {
    font-size: 25px;
  }
  .recoveryContent,
  .changeEmailContent,
  .loginContent,
  .resetContent {
    width: 250px;
    height: 250px;
  }
  .changeEmailContent,
  .loginContent,
  .resetContent {
    font-size: 12px;
  }
  .recoveryContent button,
  .changeEmailContent button,
  .loginContent button,
  .registerContent button,
  .resetContent button {
    width: 25px;
    height: 25px;
  }
  .pikachuRunning,
  .pikachuSent {
    width: 85px;
    height: 85px;
  }
  .pikachuSent,
  .loginContainer h1,
  .registerContainer h1 {
    margin-top: 0;
  }
  .registerContent {
    width: 250px;
  }
  .loginContent input,
  .registerContent input,
  .recoveryContent input,
  .changeEmailContent input,
  .resetContent input {
    width: 160px;
  }
}
