.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: "quicksandlight", sans-serif;
  margin: 0;
  padding: 0;
}

textarea,
input {
  font-family: "quicksandlight", sans-serif;
}

.App button {
  font-family: "quicksandlight", sans-serif;
  font-weight: bold;
}

.App h1 {
  font-family: "lobster_twobold_italic", sans-serif;
  font-size: 45px;
}
.App h2 {
  font-family: "lobster_twobold_italic", sans-serif;
  font-size: 25px;
}

.App textarea {
  resize: none;
}

.App a {
  text-decoration: none;
  color: black;
}

.App a:hover {
  color: #a39e8e;
}

.errorBoundaryContainer {
  display: flex;
  justify-content: center;
}

.errorBoundary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  width: 35vw;
  height: 60vh;
}

/* .pulp {
  background-size: cover;
  width: 500px;
  height: 500px;
} */

.App-header {
  background-color: #3f3636;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
}

.pageHome,
.errorBoundaryContainer,
.firstSearch,
.videoHome,
.loginContainer,
.recoveryContainer,
.registerContainer,
.searchPage,
.showHomePage,
.createHome,
.profileContainer,
.myHomesContainer,
.updateContainer,
.myBookingsContainer,
.updateHomeContainer,
.bookingIdContainer,
.resetContainer,
.changeEmailContainer {
  height: 1100px;
  width: 100%;
}

.loginContainer,
.changeEmailContainer,
.recoveryContainer,
.registerContainer,
.pageHome,
.searchPage,
.resetContainer,
.validateContainer,
.showHomePage,
.createHome,
.profileContainer,
.updateContainer,
.updateHomeContainer,
.bookingIdContainer,
.errorBoundaryContainer {
  position: relative;
  z-index: 1;
  background: rgb(196, 241, 243);
  box-shadow: 0px 8px 2px -2px rgba(0, 0, 0, 0.75);
}

.headerContainer {
  position: relative;
  background: whitesmoke;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.headerContainer div {
  padding-right: 5px;
}

.userMenu {
  margin-right: 5vw;
}

.burgerUser {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.75);
}

.burgerUser:hover {
  background: #95ccdd;
}

.burgerUser:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.linksContainer .userMenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linksContainer .avatar {
  height: 50px;
  width: 50px;
  background: url("./icons/ava_0010-512.v1443724322.png");
  background-size: cover;
  border-radius: 50%;
}

.userLinks {
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(156, 169, 240);
  box-shadow: 1px 2px 3px 2px rgba(150, 150, 150, 0.75);
  right: 5vw;
  top: 8vh;
}

.userLinks a {
  padding: 5px;
}

.userLinks a:hover {
  color: #2c37cf;
}

.logout {
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.logout:hover {
  background: #95dee0;
}

.logout:active {
  background: whitesmoke;
  transform: scale(0.99);
}

.logo {
  left: 100%;
  background: url("./icons/marcador-de-posicion1.png") no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
  margin-left: 5vw;
}

.footerContainer {
  bottom: 0;
  left: 0;
  height: 300px;
  width: 100%;
}

.footerContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.linksContainer {
  display: flex;
}

.App-link {
  color: #61dafb;
}

.footerContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin-top: 25px;
}

.footerLeft {
  margin-bottom: 40px;
  width: 600px;
}

.footerRight {
  width: 600px;
}

.footerRight div {
  text-align: justify;
  font-size: 20px;
}

.footerRight a {
  font-family: "lobster_twoitalic", sans-serif;
  cursor: pointer;
  transition: all 0.3s;
}

.footerRight a:hover {
  font-size: 30px;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footerLinks1,
.footerLinks2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footerLink {
  width: 40px;
  height: 40px;
  margin: 0 15px 15px 0;
  transition: all 0.3s;
}

.footerLink:hover {
  transform: scale(1.1);
}

.prueba1 {
  background: url("./icons/double-left-arrows-symbol.png");
  background-size: cover;
  width: 20px;
  height: 20px;
}

.prueba2 {
  background: url("./icons/fast-forward-double-right-arrows-symbol.png");
  background-size: cover;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1300px) {
  .footerLeft,
  .footerRight {
    width: 350px;
  }
}

@media screen and (max-width: 700px) {
  .pageHome,
  .errorBoundaryContainer,
  .firstSearch,
  .videoHome,
  .loginContainer,
  .recoveryContainer,
  .registerContainer,
  .searchPage,
  .showHomePage,
  .createHome,
  .profileContainer,
  .myHomesContainer,
  .updateContainer,
  .myBookingsContainer,
  .updateHomeContainer,
  .bookingIdContainer,
  .resetContainer,
  .changeEmailContainer {
    height: 950px;
  }
  .burgerUser {
    width: 60px;
    height: 25px;
  }
  .userLinks {
    width: 25vw;
    padding: 7px;
    right: 8vw;
  }
  .logout {
    width: 55px;
    height: 45px;
    border-radius: 5px;
  }
  .footerLeft,
  .footerRight {
    width: 200px;
  }
  .footerLeft h1 {
    font-size: 40px;
  }
  .footerRight div {
    font-size: 17px;
  }
  .footerLink {
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
  }
}

@media screen and (max-width: 430px) {
  .pageHome,
  .errorBoundaryContainer,
  .firstSearch,
  .videoHome,
  .loginContainer,
  .recoveryContainer,
  .registerContainer,
  .searchPage,
  .showHomePage,
  .createHome,
  .profileContainer,
  .myHomesContainer,
  .updateContainer,
  .myBookingsContainer,
  .updateHomeContainer,
  .bookingIdContainer,
  .resetContainer,
  .changeEmailContainer {
    height: 800px;
  }
  .burgerUser {
    margin-left: 3px;
    font-size: 13px;
    width: 55px;
    height: 22px;
  }
  .userLinks {
    width: 30vw;
    padding: 5px;
    right: 5vw;
  }
  .footerLeft,
  .footerRight {
    width: 150px;
  }
  .footerLeft h1 {
    font-size: 30px;
  }
  .footerRight div {
    font-size: 15px;
  }
  .footerLink {
    width: 20px;
    height: 20px;
    margin: 0 5px 5px 0;
  }
  input {
    font-size: 12px;
  }
  .userMenu {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .App {
    padding-left: 200px;
    padding-right: 200px;
  }
}
